.footer {
    padding-top: 50px;
    background: #020919;
    padding-bottom: 50px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }

    &__text {
        max-width: 251px;
        padding-top: 30px;
        color: #FFF;
        font-family: "Prompt";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }



    &__title {
        color: #FFF;
        font-family: "Prompt";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__link {
        display: inline-block;
        width: 154px;
        color: #FFF;
        font-family: "Prompt";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.7;

        &:hover {
            opacity: 1;
            color: #fff;
        }
    }

    &__right--item {
        padding-bottom: 20px;
    }

    &__right--link {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

    &__right--link img {
        display: block;
    }

    &__right--link p {
        width: 342px;
        color: #FFF;
        font-family: Gilroy;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__line {
        width: 1300px;
        height: 2px;
        background: #FFF;
    }

    &__copyright {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-top: 30px;

        p,a {
            display: block;
            color: #FFF;
            font-family: "Prompt";
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
}



@media screen and (max-width: 1340px) {
    .footer {
        padding-top: 50px;

        &__box {
            flex-direction: column;
            gap: 20px;
        }

        &__text {
            width: 251px;
            height: 116px;
            max-width: 100%;
            padding-top: 30px;
            text-align: left;
        }

        &__link {
            display: block;
            width: 100%;
            text-align: left;
        }

        &__right--item {
            padding-bottom: 20px;
        }

        &__right--link {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: center;
        }

        &__right--link img {
            display: block;
        }

        &__right--link p {
            width: 100%;
            text-align: left;
        }

        &__line {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    .footer {
        padding-top: 50px;
        padding-bottom: 100px;

        &__box {
            flex-direction: column;
            gap: 20px;
        }

        &__text {
            max-width: 100%;
            padding-top: 30px;
            text-align: center;
        }

        &__title {
            text-align: left;
        }

        &__link {
            display: block;
            width: 100%;
            text-align: left;
        }

        &__right--item {
            padding-bottom: 20px;
        }

        // &__right--link{
        //     display: flex;
        //     align-items: center;
        //     gap: 20px;
        //     justify-content: center;
        // }

        &__right--link img {
            display: block;
        }
    }
}