
.social{
    padding: 100px 0;

    &__desc{
        color: #225093;
        font-family: "Prompt";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }
    &__title{
        max-width: 720px;
        color: #000;
        font-family: "Prompt";
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    &__item{
        padding: 20px 0;
       
        text-align: center;
        width: 220px;
        height: 220px;
        border-radius: 8px;
        background: #225093;
    }

    &__item--text{
        color: #FFF;
        font-family: "Prompt";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    &__item--desc{

        color: #FFF;
        font-family: "Proxima Nova";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

@media screen and (max-width: 1100px) {
    .social{
        &__desc{
            font-size: 20px;
        }
        &__title{
            font-size: 24px;
        }
        &__list{
           flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__item{
            width: 200px;
            height: 200px;
            padding-bottom: 20px;
        }
    }
}

@media screen and (max-width: 980px) {
    .social{


       
        &__desc{
            font-size: 18px;
            text-align: center;
        }
        &__title{
            text-align: center;
            font-size: 22px;
        }

        &__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        
        &__item{
            width: 180px;
            height: 200px;
            padding-bottom: 20px;
        }
    }
}

@media screen and (max-width: 810px) {
    .social{
       &__list{
        flex-wrap: nowrap;
       }
    }
}

@media screen and (max-width: 768px) {
    .social{
        padding: 50px 0;
        &__desc{
            font-size: 16px;
        }
        &__title{
            font-size: 20px;
        }

        &__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        &__item{
            width: 200px;
            height: 200px;
            padding-bottom: 20px;
        }
    }
}

@media screen and (max-width: 460px) {
    .social{
        &__desc{
            font-size: 14px;
        }
        &__title{
            font-size: 18px;
        }
        &__list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__item{
            width: 200px;
            height: 200px;
            padding-bottom: 20px;
        }
    }
}